<!-- Using jQuery with a CDN -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>


<!-- JS file -->
<script src="/jquery.easy-autocomplete.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" href="/easy-autocomplete.min.css">

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" href="/easy-autocomplete.themes.min.css">

<input id="function-data" />
<input id="data-holder" />
<p id="car-holder"></p>

<script type="text/javascript">
$.getJSON('data.json', function(e) {
var html = '';
 $.each(e, function(k, v) {
 html = html + v.character + '<br/>';
});
$('#car-holder').html(html);
})
</script>